out
packages/client/out
packages/server/out
dist
node_modules
packages/client/node_modules/**
packages/server/node_modules/**
.vscode-test/
*.vsix
packages/client/tsconfig.tsbuildinfo
packages/server/tsconfig.tsbuildinfo

packages/tokens/data